.friend-item {
  display: flex;
  align-items: center;
  width: 700px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background-color: #f1f1f1;
}

.friend-link {
  display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

.friend-link:hover {
  background-color: #ececec;
  color: black;
}

.profile-picture img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.friend-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.name {
  font-weight: bold;
}

.handle {
  margin-top: auto;
  color: #666;
}

.remove-button button {
  background-color: #ff6b6b;
  border: none;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.user-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 12px;
  flex-shrink: 0;
}
