<!-- profile-tile.component.html -->
<div class="mb-3"></div>
<div class="post-container">
  <div class="post-content">
    <div class="profile-info">
      <img
        [src]="
          isCurrentUserProfile ? imageService.getProfilePicUrl() : postImageURL
        "
        class="profile-picture"
      />
      <div>
        <h3>{{ user?.firstName }} {{ user?.lastName }}</h3>
        <h3>@{{ user?.handle }}</h3>
        <p>{{ user?.bio }}</p>
      </div>
    </div>
    <div class="button-container" *ngIf="isCurrentUserProfile">
      <div class="edit-button-wrapper">
        <button (click)="openCommentDialog($event)" class="friend-button">
          Edit Profile
        </button>
      </div>
    </div>
    <div class="button-container" *ngIf="!isCurrentUserProfile">
      <button
        class="friend-button"
        (click)="toggleFriendship()"
        [ngClass]="{ isFriend: isFriend > -1 }"
      >
        {{ isFriend === -1 ? "Friend" : "Unfriend" }}
      </button>
    </div>
  </div>
</div>
