<!-- profile-tile.component.html -->
<div class="mb-3"></div>
<div class="post-container">
  <div class="post-content">
    <div class="profile-info">
      <img
        [src]="
          isCurrentUserProfile ? imageService.getProfilePicUrl() : postImageURL
        "
        alt="Profile Picture"
        class="profile-picture"
      />
      <div>
        <h3>{{ user?.firstName }} {{ user?.lastName }}</h3>
        <h3>@{{ user?.handle }}</h3>
        <p>{{ user?.bio }}</p>
        <!-- Move the bio inside the profile-info div -->
      </div>
    </div>
    <div class="button-container" *ngIf="isCurrentUserProfile">
      <div class="edit-button-wrapper">
        <button (click)="openCommentDialog($event)">Edit Profile</button>
      </div>
    </div>
    <div class="button-container" *ngIf="!isCurrentUserProfile">
      <button (click)="toggleFriendship()">
        {{ isFriend === -1 ? "Friend" : "UnFriend" }}
      </button>
    </div>

    <!-- Remove the bio from here -->
  </div>
</div>
