<!-- <div class="post-container">
    <div class="post-content">
        <img src="profile-picture.jpg" alt="Profile Picture" class="profile-picture">
        <div class="post-details">
          <h4 class="username">John Doe</h4>
          <p class="bio">{{ post.content }}</p>
          <p class="timestamp">Posted 2 hours ago</p>
        </div>
      </div>    
</div> -->

<div class="post-container">
    <div class="post-content">
      <img src="profile-picture.jpg" alt="Profile Picture" class="profile-picture">
      <div class="post-details">
        <h4 class="username">John Doe</h4>
        <p class="bio">{{ post.content }}</p>
        <br>
        <button class="like-button btn btn-primary">Like</button>
        <p class="timestamp">Posted on July 10, 2023</p>
      </div>
    </div>
  </div>
  