<div class="post-container">
  <div class="post-content">
    <img [src]="userPicUrl" alt="Profile Picture" class="profile-picture" />
    <div class="post-details">
      <h3 class="username">{{ post[3] }} {{ post[4] }}</h3>
      <p class="username">
        <a
          class="comment-link"
          href="http://localhost:4200/profile/{{ post[2] }}"
          >@{{ post[2] }}</a
        >
      </p>
      <div *ngIf="post[0].postType == 'Image'" class="image-container">
        <img [src]="postImageURL" alt="Post Image" class="post-image" />
      </div>
      <h4 class="bio">{{ post[0].content }}</h4>
      <div class="like-section">
        <button
          class="like-button"
          (click)="likePost()"
          tabindex="-1"
          [ngClass]="{ liked: isLiked > -1 }"
        >
          <span class="like-count">{{ likeCount }}</span>
          <span class="like-icon">&nbsp;Likes</span>
        </button>
      </div>
      <div class="comments-section">
        <app-comment-row [postId]="postId"></app-comment-row>
      </div>

      <p class="timestamp">Posted {{ formatDate(post[0].timestamp) }}</p>
    </div>
  </div>
</div>
