.comment-row {
  margin-bottom: 10px; /* Adjust the margin bottom as per your preference */
}

.comment-row p {
  margin: 0;
  padding: 5px 0; /* Adjust the padding as per your preference */
}

.comment-row .see-all-comments {
  margin-top: 5px; /* Adjust the margin top as per your preference */
}

.comment-text {
  margin: 0;
}

.comment-link {
  color: inherit; /* Inherit color from the parent element (no default blue color) */
  text-decoration: none; /* Remove default underline */
}

.comment-link:hover {
  text-decoration: underline; /* Add underline on hover */
  cursor: pointer; /* Show pointer cursor on hover */
}
