<div class="comment-row">
  <div *ngFor="let comment of recentComments">
    <p>
      <strong
        ><a
          class="comment-link"
          href="http://localhost:4200/profile/{{ comment[1] }}"
          >{{ comment[1] }}</a
        >:</strong
      >
      {{ comment[0].content }}
    </p>
    <!-- Display other comment properties as needed -->
  </div>
  <a
    *ngIf="!showAllComments"
    (click)="openCommentDialog($event)"
    class="see-all-comments"
    tabindex="-1"
    >See Likes and Comments</a
  >
</div>
