<div class="comment-row">
  <p
    *ngFor="
      let comment of comments.slice(
        0,
        showAllComments ? comments.length : threshold
      )
    "
    class="comment-text"
  >
    <strong
      ><a
        class="comment-link"
        href="http://localhost:4200/profile/{{ comment[1] }}"
        >{{ comment[1] }}</a
      >:</strong
    >
    {{ comment[0].content }}
  </p>
  <a
    *ngIf="!showAllComments && comments.length > threshold"
    (click)="openCommentDialog($event)"
    class="see-all-comments"
    tabindex="-1"
    >See Likes and Comments</a
  >
</div>
