.main-container {
  display: flex;
  flex-direction: column;
  min-height: 10vh;
}

.header {
  height: 10vh;
  width: 100%;
  z-index: 2;
}

.body-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.sidemenu-container {
  flex-basis: 20%;
  height: 100%;
  position: sticky;
}

.content-container {
  flex: 1;
  overflow-y: auto;
}
