.body-container {
  display: flex;
  flex: 1;
  position: relative;
  padding-top: 15px;
  overflow: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(210, 219, 226);
}

.sidemenu-container {
  /* Adjust the width as per your requirements */
  position: fixed;
  top: 50px; /* Adjust the top value to match the height of the header */
  left: 0;
  bottom: 0; /* Stretch the sidemenu container to the bottom of the viewport */
  z-index: 1;
  background-color: #f1f1f1;
}

/* .content-container {
  flex: 1;
  margin-left: 280px;
  background-color: rgb(210, 219, 226);
  position: relative;
  z-index: 0; 
} 
*/
