.body-container {
    display: flex;
    flex: 1;
}
  
.btn-primary {
    position: relative;
    z-index: 2;
  }

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    }
  
  main {
    position: relative;
    padding-top: 50px; /* Adjust the padding top value to create space for the header */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-container {
    flex: 1;
    background-color: lightblue;
    min-height: calc(100vh - 50px); /* Subtract the height of the header */
}