.body-container {
  display: flex;
  flex: 1;
  position: relative;
  padding-top: 15px;
  overflow: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(210, 219, 226);
}

.sidemenu-container {
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  z-index: 1;
  background-color: #f1f1f1;
}

.sidemenu {
  position: fixed;
  top: 50px;
  left: 0;
  width: 280px;
  height: calc(100vh - 50px);
  z-index: 2;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
}

.post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.search-button {
  background-color: rgb(17, 137, 224);
  color: #fff;
}

.search-button:hover {
  background-color: #0f52ba;
}

.app-feed {
  position: absolute;
  top: 10vh;
  left: 250px;
  right: 0;
  bottom: 0;
  /* overflow-y: auto; */
  background-color: rgb(210, 219, 226);
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1);
}

.search-group {
  width: 50%;
}

.input-group {
  margin-top: 1em;
}

.search-suggestions {
  position: absolute;
  /* top: 100%; */
  /* left: 0; */
  width: 50%;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100; /* Ensure the box is on top of the content */
}
