.body-container {
  display: flex;
  flex: 1;
  position: relative;
  padding-top: 15px;
  overflow: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2; /* Increase the z-index to make the header appear above other elements */
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(210, 219, 226);
}

.sidemenu-container {
  position: fixed;
  top: 50px; /* Adjust the top value to match the height of the header */
  left: 0;
  bottom: 0; /* Stretch the sidemenu container to the bottom of the viewport */
  z-index: 1;
  background-color: #f1f1f1;
}

/* .content-container {
  flex: 1;
  margin-left: 280px; 
  background-color: rgb(210, 219, 226);
  position: relative;
  z-index: 0;
} */

.sidemenu {
  position: fixed;
  top: 50px;
  left: 0;
  width: 280px;
  height: calc(100vh - 50px);
  z-index: 2; /* Increase the z-index to make the sidemenu appear above the content */
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
}

.post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.search-button {
  background-color: rgb(17, 137, 224); /* Set the active color */
  color: #fff; /* Set the text color for active menu item */
}

.search-button:hover {
  background-color: darkblue;
}

.app-feed {
  position: absolute;
  top: 10vh; /* To start below the header */
  left: 250px; /* Width of the side menu */
  right: 0;
  bottom: 0;
  overflow-y: auto; /* Enable vertical scrolling */
  background-color: rgb(210, 219, 226);
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1); /* To match the side menu shadow */
}
