<app-header></app-header>
<main class="main-container">
  <div class="body-container">
    <div class="sidemenu-container">
      <app-sidemenu></app-sidemenu>
    </div>
    <div class="content-container blue-div">
      <div class="container mt-4">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Search for profiles..."
                (input)="onSearchInputChange()"
              />
              <div class="input-group-append">
                <button class="btn btn-primary" (click)="search()">
                  Search
                </button>
              </div>
            </div>
            <!-- Display search suggestions here (ngFor) -->
            <ul class="list-group mt-2" *ngIf="suggestions.length > 0">
              <li
                class="list-group-item"
                *ngFor="let suggestion of suggestions"
                (click)="selectSuggestion(suggestion)"
              >
                {{ suggestion }}
              </li>
            </ul>
          </div>
        </div>
        <!-- <div *ngFor="let post of postService.posts$ | async"> -->
        <br />
        <div class="friendsListTileContainer">
          <div *ngFor="let friend of friendService.friends$ | async">
            <div class="post-container">
              <app-friend-item [friend]="friend"></app-friend-item>
            </div>
            <!-- <app-blog-post [post]="post" [userPic]="userPic"></app-blog-post> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
