<app-header></app-header>
<main class="main-container">
  <div class="body-container">
    <div class="sidemenu-container">
      <app-sidemenu></app-sidemenu>
    </div>
    <div class="content-container blue-div">
      <div class="app-feed">
        <div class="row">
          <div class="col-md-6 offset-md-3 search-group" #searchGroup>
            <div class="input-group">
              <input
                [(ngModel)]="userInput"
                type="text"
                class="form-control"
                placeholder="Search for profiles..."
                (input)="onSearchInputChange()"
              />
              <div class="input-group-append">
                <button class="btn search-button">Search</button>
              </div>
            </div>
            <!-- Display search suggestions here (ngFor) -->
            <ul
              class="list-group mt-2 search-suggestions"
              *ngIf="showSuggestions && searchSuggestions.length > 0"
            >
              <li
                class="list-group-item"
                *ngFor="let suggestion of searchSuggestions"
              >
                <app-suggestion-item
                  [suggestion]="suggestion"
                ></app-suggestion-item>
              </li>
            </ul>
          </div>
        </div>
        <br />
        <div class="friendsListTileContainer">
          <div *ngFor="let friend of friendService.friends$ | async">
            <div class="post-container">
              <app-friend-item [friend]="friend"></app-friend-item>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
