<div class="overlay" tabindex="-1"></div>
<div class="comment-dialog-container" tabindex="-1">
  <h2 mat-dialog-title>Comments</h2>
  <mat-dialog-content>
    <div *ngFor="let comment of comments">
      <hr />
      <div class="comment-container">
        <div class="user-info">
          <img [src]="comment[2]" alt="Profile Picture" class="user-picture" />
          <p class="comment-text">
            <strong>@{{ comment[1] }}:</strong> {{ comment[0].content }}
          </p>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="closeDialog()" tabindex="-1">Close</button>
  </mat-dialog-actions>
</div>
