mat-dialog-content {
  max-width: 100%;
}

.comment-dialog-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  max-width: 800px;
  z-index: 1001;
  background-color: white;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100% - 50px;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
}

.nav-link.active {
  background-color: rgb(17, 137, 224);
  color: #fff;
}

.cdk-overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
}

.comment-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  position: relative;
}

.user-info {
  display: flex;
  align-items: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.user-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
  flex-shrink: 0;
}

.username {
  margin: 0;
  font-weight: bold;
}

.comment-wrapper {
  display: flex;
  align-items: flex-start;
}

.comment-text {
  margin: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.comment-link {
  color: inherit;
  text-decoration: none;
}

.comment-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.comment-content {
  margin-left: 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.add-comment-section {
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin-top: 20px;
}

.comment-input {
  flex: 1;
  margin-right: 10px;
  padding-right: 5x;
}

.post-button {
  flex-shrink: 0;
}

.comment-button {
  background-color: rgb(17, 137, 224);
  color: white;
}

.comment-button:hover {
  background-color: #0f52ba;
}

.delete-button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.delete-icon {
  color: #888;
  font-size: 16px;
}
