<div class="overlay" tabindex="-1"></div>
<div class="comment-dialog-container" tabindex="-1">
  <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        [ngClass]="active == 'likes' ? 'nav-link active' : 'nav-link'"
        id="tab-login"
        (click)="onLikesTab()"
      >
        Likes
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        [ngClass]="active == 'comments' ? 'nav-link active' : 'nav-link'"
        id="tab-register"
        (click)="onCommentsTab()"
      >
        Comments
      </button>
    </li>
  </ul>

  <mat-dialog-content>
    <!-- Display likes content if this.active is 'likes' -->
    <div *ngIf="active === 'likes'">
      <div *ngIf="likes && likes.length > 0">
        <div *ngFor="let like of likes">
          <hr />
          <div class="comment-container">
            <div class="user-info">
              <img
                [src]="like.userPic"
                alt="Profile Picture"
                class="user-picture"
              />
              <p class="comment-text">
                <strong>
                  <a
                    class="comment-link"
                    href="http://localhost:4200/profile/{{ like[1] }}"
                  >
                    {{ like[1] }}
                  </a>
                </strong>
                {{ like.timestamp | date }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="likes && likes.length === 0">
        <h1>No Likes Yet</h1>
      </div>
    </div>
    <!-- Display comments content if this.active is 'comments' -->
    <div *ngIf="active === 'comments'">
      <div *ngIf="comments.length > 0">
        <div *ngFor="let comment of comments">
          <hr />
          <div class="comment-container">
            <div class="user-info">
              <img
                [src]="comment.userPic"
                alt="Profile Picture"
                class="user-picture"
              />
              <p class="comment-text">
                <strong
                  ><a
                    class="comment-link"
                    href="http://localhost:4200/profile/{{ comment[1] }}"
                    >{{ comment[1] }}:</a
                  ></strong
                >
                {{ comment[0].content }}
              </p>
            </div>
            <div
              *ngIf="myId === comment[0].userId"
              class="delete-button"
              (click)="deleteComment(comment[0].id)"
            >
              <span class="delete-icon">x</span>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="comments.length === 0">
        <h1>No Comments Yet</h1>
      </div>
    </div>
  </mat-dialog-content>
  <div *ngIf="active === 'comments'" class="add-comment-section">
    <input
      type="text"
      class="form-control form"
      placeholder="Write a comment..."
      maxlength="280"
      [(ngModel)]="commentContent"
    />
    <button
      class="btn post-button comment-button"
      (click)="postComment()"
      [disabled]="!commentContent"
    >
      Post
    </button>
  </div>
  <mat-dialog-actions>
    <button mat-button (click)="closeDialog()" tabindex="-1">Close</button>
  </mat-dialog-actions>
</div>
