/* .content-container {
  flex: 1;
  margin-left: 280px;
  background-color: rgb(210, 219, 226);
  position: relative;
  z-index: 0; 
} */

/* .body-container {
  display: flex;
  flex: 1;
  padding-top: 15px;
  overflow: auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(210, 219, 226);
  overflow: auto;
}

.sidemenu-container {
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  z-index: 1;
  background-color: #f1f1f1;
}

.content-container {
  overflow: auto;
} */

/* home.component.css */

/* For flexbox container */
.main-container {
  display: flex;
  flex-direction: column;
  min-height: 10vh;
  /* background-color: rgb(210, 219, 226); */
}

.header {
  height: 10vh;
  width: 100%;
  z-index: 2;
}

.body-container {
  flex: 1; /* Fill remaining height */
  display: flex;
  flex-direction: row;
  overflow: hidden; /* Hide scrollbars */
}

.sidemenu-container {
  flex-basis: 20%; /* Take up 20% width */
  height: 100%;
  position: sticky;
  /* top: 10vh; To start below the header */
}

.content-container {
  flex: 1; /* Fill remaining width */
  overflow-y: auto; /* Add vertical scrollbar */
}
