<app-header></app-header>
<main class="main-container">
  <div class="body-container">
    <div class="sidemenu-container">
      <div class="sidebar-container">
        <div class="sidemenu d-flex flex-column flex-shrink-0 p-3 bg-light">
          <hr />
          <!-- Left side menu -->
          <div>
            <ul class="menu nav nav-pills flex-column mb-auto">
              <li class="nav-item">
                <a
                  [routerLink]="['/home']"
                  class="nav-link link-dark"
                  aria-current="page"
                >
                  <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#home"></use>
                  </svg>
                  My Feed
                </a>
              </li>
              <li>
                <a href="#" class="nav-link link-dark">
                  <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#speedometer2"></use>
                  </svg>
                  Friends
                </a>
              </li>
              <li>
                <a
                  [routerLink]="['/profile', getUsername()]"
                  class="nav-link active"
                >
                  <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#table"></use>
                  </svg>
                  My Profile
                </a>
              </li>
              <li>
                <a href="#" class="nav-link link-dark">
                  <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#grid"></use>
                  </svg>
                  New Post
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="content-container blue-div" *ngIf="userId">
      <app-feed
        [userId]="userId"
        [userPic]="userPic"
        [isProfilePage]="isProfilePage"
        [user]="user"
      ></app-feed>
    </div>
  </div>
</main>
