.nav-link.active {
  background-color: rgb(17, 137, 224);
  color: #fff;
}

.sign-in {
  background-color: rgb(17, 137, 224);
  color: #fff;
}

.sign-in:hover {
  background-color: #0f52ba;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.app-logo {
  margin-right: 10px;
}

.app-logo img {
  width: 200px;
  height: auto;
}

.app-name {
  font-size: 7em;
  font-weight: bold;
}

.app-logo {
  margin-right: 10px;
}

.app-logo img {
  width: 200px;
  height: auto;
}

.form-label {
  margin-bottom: 0rem;
}

.scrollable-content {
  max-height: 100vh;
  overflow-y: auto;
}
