<div
  class="
    container
    d-flex
    align-items-center
    justify-content-center
    vh-100
    scrollable-content
  "
>
  <div class="col-4">
    <div *ngIf="active === 'login'" class="text-center app-header">
      <div class="app-logo">
        <img src="/assets/T.png" alt="App Logo" />
      </div>
      <p class="app-name">Tribe</p>
    </div>
    <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          [ngClass]="active == 'login' ? 'nav-link active' : 'nav-link'"
          id="tab-login"
          (click)="onLoginTab()"
        >
          Login
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          [ngClass]="active == 'register' ? 'nav-link active' : 'nav-link'"
          id="tab-register"
          (click)="onRegisterTab()"
        >
          Register
        </button>
      </li>
    </ul>

    <div class="tab-content">
      <div
        [ngClass]="
          active == 'login' ? 'tab-pane fade show active' : 'tab-pane fade'
        "
      >
        <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
          <div class="form-outline mb-4">
            <input
              type="login"
              id="login"
              name="login"
              class="form-control"
              formControlName="username"
            />
            <div class="form-label-group">
              <label class="form-label" for="loginName">Email</label>
              <div
                *ngIf="
                  loginForm.controls['username'].touched &&
                  loginForm.controls['username'].invalid
                "
              >
                <small class="text-danger">Invalid email</small>
              </div>
            </div>
          </div>

          <div class="form-outline mb-4">
            <input
              type="password"
              id="loginPassword"
              name="password"
              class="form-control"
              formControlName="password"
            />
            <label class="form-label" for="loginPassword">Password</label>
            <div
              *ngIf="
                loginForm.controls['password'].touched &&
                loginForm.controls['password'].invalid
              "
            >
              <small class="text-danger">Password is required</small>
            </div>
          </div>

          <button
            type="submit"
            class="btn sign-in btn-block mb-4"
            [disabled]="!loginForm.valid"
          >
            Sign in
          </button>
        </form>
      </div>
      <div
        [ngClass]="
          active == 'register' ? 'tab-pane fade show active' : 'tab-pane fade'
        "
      >
        <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()">
          <div class="form-outline mb-4">
            <input
              type="text"
              id="firstName"
              name="firstName"
              class="form-control"
              formControlName="firstName"
            />
            <label class="form-label" for="firstName">First name</label>
            <div
              *ngIf="
                registerForm.controls['firstName'].touched &&
                registerForm.controls['firstName'].invalid
              "
            >
              <small class="text-danger">First name is required</small>
            </div>
          </div>

          <div class="form-outline mb-4">
            <input
              type="text"
              id="lastName"
              name="lastName"
              class="form-control"
              formControlName="lastName"
            />
            <label class="form-label" for="lastName">Last name</label>
            <div
              *ngIf="
                registerForm.controls['lastName'].touched &&
                registerForm.controls['lastName'].invalid
              "
            >
              <small class="text-danger">Last name is required</small>
            </div>
          </div>

          <div class="form-outline mb-4">
            <input
              type="text"
              id="handle"
              name="handle"
              class="form-control"
              formControlName="handle"
            />
            <label class="form-label" for="handle">Username</label>
            <div
              *ngIf="
                registerForm.controls['handle'].touched &&
                registerForm.controls['handle'].invalid
              "
            >
              <small class="text-danger">Username is required</small>
            </div>
          </div>

          <div class="form-outline mb-4">
            <input
              type="date"
              id="dateOfBirth"
              name="dateOfBirth"
              class="form-control"
              formControlName="dob"
              [max]="today"
              required
            />
            <label class="form-label" for="dateOfBirth">Date of Birth</label>
            <div
              *ngIf="
                registerForm.controls['dob'].touched &&
                registerForm.controls['dob'].invalid
              "
            >
              <small class="text-danger">Date of Birth is required</small>
            </div>
          </div>

          <div class="form-outline mb-4">
            <input
              type="login"
              id="login"
              name="login"
              class="form-control"
              formControlName="username"
            />
            <label class="form-label" for="loginName">Email</label>
            <div
              *ngIf="
                registerForm.controls['username'].touched &&
                registerForm.controls['username'].invalid
              "
            >
              <small class="text-danger">Invalid email</small>
            </div>
          </div>

          <div class="form-outline mb-4">
            <input
              type="password"
              id="registerPassword"
              name="password"
              class="form-control"
              formControlName="password"
            />
            <label class="form-label" for="registerPassword">Password</label>
            <div
              *ngIf="
                registerForm.controls['password'].touched &&
                registerForm.controls['password'].invalid
              "
            >
              <small class="text-danger">Password is required</small>
            </div>
          </div>

          <button
            type="submit"
            class="btn btn-block mb-3 sign-in"
            [disabled]="!registerForm.valid"
          >
            Register
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
