.nav-link.active {
  background-color: rgb(17, 137, 224); /* Set the active color */
  color: #fff; /* Set the text color for active menu item */
}

.sign-in {
  background-color: rgb(17, 137, 224); /* Set the active color */
  color: #fff; /* Set the text color for active menu item */
}

.sign-in:hover {
  background-color: darkblue; /* Set the active color */
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: center; /* Horizontally center logo and name */
  margin-bottom: 40px;
}

.app-logo {
  margin-right: 10px; /* Add some space between logo and app name */
}

.app-logo img {
  width: 200px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

.app-name {
  font-size: 7em; /* Adjust font size as needed */
  font-weight: bold;
}

.app-logo {
  margin-right: 10px; /* Add some space between logo and app name */
}

.app-logo img {
  width: 200px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}
