<div class="sidebar-container">
  <div
    class="sidemenu d-flex flex-column flex-shrink-0 p-3 bg-light"
    style="width: 280px"
  >
    <hr />
    <ul class="menu nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a
          [routerLink]="['/home']"
          [class.active]="activeMenuItem === 'feed'"
          [ngClass]="{
            'nav-link': true,
            'link-dark': activeMenuItem !== 'feed'
          }"
        >
          <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#home"></use>
          </svg>
          My Feed
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link link-dark">
          <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#speedometer2"></use>
          </svg>
          Friends
        </a>
      </li>
      <li class="nav-item">
        <a
          [routerLink]="['/profile', getUsername()]"
          [class.active]="activeMenuItem === 'profile'"
          class="nav-link link-dark"
          [ngClass]="{
            'nav-link': true,
            'link-dark': activeMenuItem !== 'profile'
          }"
        >
          <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#table"></use>
          </svg>
          My Profile
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link link-dark">
          <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#grid"></use>
          </svg>
          New Post
        </a>
      </li>
    </ul>
    <div class="dropdown-container">
      <hr />
      <div class="dropdown">
        <a
          href="#"
          class="
            d-flex
            align-items-center
            link-dark
            text-decoration-none
            dropdown-toggle
          "
          id="dropdownUser2"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          tabindex="-1"
        >
          <img
            [src]="(authService.currentUser$ | async)?.userPic"
            alt=""
            width="32"
            height="32"
            class="rounded-circle me-2"
          />
          <strong>{{ (authService.currentUser$ | async)?.username }}</strong>
        </a>
        <ul
          class="dropdown-menu text-small shadow"
          aria-labelledby="dropdownUser2"
        >
          <li>
            <a class="dropdown-item" href="#" tabindex="-1">New project...</a>
          </li>
          <li><a class="dropdown-item" href="#" tabindex="-1">Settings</a></li>
          <li><a class="dropdown-item" href="#" tabindex="-1">Profile</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" href="#" tabindex="-1">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
